nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
       margin: 0px;
    }
    .new{
        align-items: center;
        margin-left: 460px;
        justify-content: space-between;
        padding: 50px;
        margin-top: -580px;
        padding-bottom: 400px;

    }
    .New-hero{
        display: flex;
        align-items: center;
        margin-left: 390px;
     margin-top: -400px;
    }
    nav{ 
        text-align: center;
    margin-left: 130px;   
    margin-top: -30px;
    }
    .hero-new{
        text-align: center;
        justify-content: center;
        margin-left: 50px;
    }
    .New-top{
        text-align: center;
        justify-content: center;
        margin-top: 150px;
    }
    .new-tag{
        text-align: center;
        justify-content: center;
    }
.roman-new{
    text-align:left;
}